In [1]:
# 파이썬 내장 DB(SQLite) 사용하기
# 1. DB 생성

import sqlite3
####################
# 1. DB 생성(연결)
conn = sqlite3.connect("samsongDB_python")
# 1-2. 연결 트럭 생성
cur = conn.cursor()


# sqlite3 -> DB가 없으면 자동생성, 있으면 자동열기
# 권장사항 : 문자열은 큰따옴표로

#####################
# 2. Table 생성
# 2-1. 쿼리문 제작
# sql = "CREATE TABLE userTable(userId INT, userName CHAR(5))"

# 2-1+. 테이블 자동생성/열기 코드
sql = "CREATE TABLE IF NOT EXISTS userTable(userId INT, userName CHAR(5))"

# 2-2. 쿼리문 수행
cur.execute(sql)

######################
# 3. 데이터 입력
sql = "INSERT INTO userTable VALUES( 1, '홍길동')"
cur.execute(sql)
sql = "INSERT INTO userTable VALUES( 2, '이순신')"
cur.execute(sql)


######################
# 4. COMMIT
conn.commit()

# 6. DB 연결해제
cur.close()
conn.close()

print('OK~')

OK~

In [3]:
# 파이썬 내장 DB(SQLite) 사용하기
# 2. DB 조회

import sqlite3

conn = sqlite3.connect("samsongDB_python")
cur = conn.cursor()
#################
# 1. SELECT
# 1-1. 데이터 한번에 가져오기
sql = "SELECT * FROM userTable"
cur.execute(sql)

rows = cur.fetchall()
# 원래는 한개씩 가져와야한다.

for row in rows:
    print(row)


cur.close()
conn.close()
print('OK~')

(1, '홍길동')
(2, '이순신')
(1, '홍길동')
(2, '이순신')
OK~

In [2]:
#  MySQL과 파이썬 연동해서 사용하기
# 1. 데이터 입력

import pymysql

# 1. port
# 2. id
# 3. pw
# 4. 인코딩방식
# tip) 삽업표준

####################
# 1. DB 생성(연결)
conn = pymysql.connect(host="192.168.56.109", user="root", password="1234", db="samsongdb", charset="utf8")
# tip) 위에 연결 방식이 기본

# 1-2. 연결 트럭 생성
cur = conn.cursor()


# sqlite3 -> DB가 없으면 자동생성, 있으면 자동열기
# 권장사항 : 문자열은 큰따옴표로

#####################
# 2. Table 생성
# 2-1. 쿼리문 제작
# sql = "CREATE TABLE userTable(userId INT, userName CHAR(5))"

# 2-1+. 테이블 자동생성/열기 코드
sql = "CREATE TABLE IF NOT EXISTS userTable2(userId INT, userName CHAR(5))"

# 2-2. 쿼리문 수행
cur.execute(sql)

######################
# 3. 데이터 입력
sql = "INSERT INTO userTable2 VALUES( 1, '홍길동')"
cur.execute(sql)
sql = "INSERT INTO userTable2 VALUES( 2, '이순신')"
cur.execute(sql)


######################
# 4. COMMIT
conn.commit()

# 6. DB 연결해제
cur.close()
conn.close()

print('OK~')

OK~

C:\Users\user\.conda\envs\newsScraping\lib\site-packages\pymysql\cursors.py:170: Warning: (1050, "Table 'usertable2' already exists")
  result = self._query(query)

In [3]:
#  MySQL과 파이썬 연동해서 사용하기
# 2. 데이터 조회

import pymysql

conn = pymysql.connect(host="192.168.56.109", user="root", password="1234", db="samsongdb", charset="utf8")
cur = conn.cursor()
#################
# 1. SELECT
# 1-1. 데이터 한번에 가져오기
sql = "SELECT * FROM userTable2"
cur.execute(sql)

rows = cur.fetchall()
# 원래는 한개씩 가져와야한다.

print(rows)


cur.close()
conn.close()
print('OK~')

((1, '홍길동'), (2, '이순신'), (1, '홍길동'), (2, '이순신'))
OK~

In [ ]:
# Mission. Window Server VM에 설치한 MySQL과 연동하기
# 1. 사번에 0을 넣으면 종료

import pymysql

employeeId = 0
employeeName = ""
employeeYear = 0

if __name__ == '__main__':
    conn = pymysql.connect(host="192.168.56.104",port=3306, user="root", password="1234", db="mission3",
                           charset="utf8")
    cur = conn.cursor()

    sql = "CREATE TABLE IF NOT EXISTS employeeTable(employeeId INT, employeeName CHAR(5), employeeYear SMALLINT)"
    #cur.execute(sql)

    while True:

        employeeId = int(input(" 사번 --> "))
        if employeeId == 0:
            break
        employeeName = input(" 이름 --> ")
        employeeYear = int(input(" 입사연도 --> "))

        sql = "INSERT INTO employeeTable VALUES (%d,\'%s\',%d)" % (employeeId, employeeName, employeeYear)
        cur.execute(sql)


    conn.commit()

    cur.close()
    conn.close()

In [ ]:
# DB에서 데이터 조회해 출력하기

import pymysql

employeeId = 0
employeeName = ""
employeeYear = 0

if __name__ == '__main__':
    conn = pymysql.connect(host="192.168.56.104",port=3306, user="root", password="1234", db="mission3",
                           charset="utf8")
    cur = conn.cursor()

    sql = "SELECT * FROM employeeTable"
    cur.execute(sql)

    print("사번", "이름", "입사연도")
    print("======================")

    while True:
        data = cur.fetchone()
        if data == None:
            break
        print(data[0], data[1], data[2])


    conn.commit()

    cur.close()
    conn.close()